@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaini&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

:root {
  --bg-main: #090010;
  --bg-card: #040012;
  --accent: #b100ff;
  --accent-soft: #7b2cbf;
  --text-main: #ffffff;
  --text-soft: #d8d8d8;
  --border: rgba(255, 255, 255, 0.15);
  --glow: 0 0 10px rgba(177, 0, 255, 0.2);
  --radius-lg: 24px;
  --radius-md: 16px;
  --max-width: 1200px;
}

body {
  background: #090010;
  color: var(--text-main);
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

section {
  padding: 100px 20px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
