.navbar {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 10;

  min-height: 60px;
  display: flex;
  align-items: center;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 30px;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar a {
  display: inline-block;
  padding: 10px 80px;
  text-align: center;
}
