@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaini&display=swap");

.section-title {
  font-size: clamp(6rem, 8vw, 8rem);
  text-align: center;
  margin-bottom: 40px;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.social-buttons {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.social-btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.08);
  border: 1pxsolidvar (--border);
  transition: 0.3sease;
  font-size: 1.2rem;
}

.social-btn:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: var(--glow);
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #491675,
    rgb(179, 0, 255),
    #b100ff,
    #40005b,
    #7b2cbf,
    #9d4edd,
    #c77dff,
    #e0aaff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover {
  position: relative;
  z-index: 0;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: clamp(4rem, 13vw, 9rem);
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: clamp(3rem, 13vw, 9rem);
  }
}
